.tab {
  padding: 10px;
}

td {
  border: solid 0.5px;
  border-color: black;
  padding: 10px;
}

#td12:hover {
  background-color: green;
}

#td12:active {
  background-color: blue;
}
table th {
  background-color: lightblue;
}
.hover_Row {
  background-color: yellow;
 }
.clicked_Row {
   background-color: gold;
 }
